*{
    padding: 0;
    margin: 0;
}

.li{
    height: 230h;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.li>li:nth-child(3){
    color:red;
}

.section2{
    width: fit-content;
    border-radius: 5px;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.section2>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aquamarine;
}
