div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color 0.5s ease;
    transition-duration: 2s;
}

div:hover {
    transform: scale(2);
    background-color: blue;
}
