@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: hsla(218, 35%, 94%, 1);
    background-color: linear-gradient(180deg, hsla(218, 35%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    color: #606F7B;
    height: 60vh;
}

